div {
    margin-bottom: 2px;
    padding: 2px 2px;
}

span.member {
    font-weight: bold
}

span.foe {
    font-style: italic
}

.firstblood, .tourend, .upset, .phoenix {
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
}

.join {
    background-color: #ddffdd;
    border-left: 6px solid #04AA6D;
}

.streak, .avenge, .tourbegin {
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
}

.standings {
    background-color: #ffffcc;
    border-left: 6px solid #ffeb3b;
}

div.messages {
    background-color: #00000000;
    div {
        animation: slideIn .5s linear forwards;
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        max-height: 0px;
        transform: scale(0);
        opacity: 0;
    }
    to {
        max-height: 1000px;
        transform: scale(1);
        opacity: 1;
    }
}

th {
    text-align: left;
}

th, td {
    border-bottom: 1px solid #ddd;
}
